<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../TemplateCuss/img/categories/cat-1.jpg">
                        <h5><a href="#">Văn học</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../TemplateCuss/img/categories/cat-2.jpg">
                        <h5><a href="#">Tâm lý</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../TemplateCuss/img/categories/cat-3.jpg">
                        <h5><a href="#">Trinh thám</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../TemplateCuss/img/categories/cat-4.jpg">
                        <h5><a href="#">Khoa học</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../TemplateCuss/img/categories/cat-5.jpg">
                        <h5><a href="#">Ngôn tình</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->