<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="~/TemplateCuss/img/Logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: 280 An Dương Vương</li>
                        <li>Số điện thoại: 0809900900</li>
                        <li>Email: carat@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Liên kết</h6>
                    <ul>
                        <li><a href="#">Liên hệ - Tư vấn</a></li>
                        <li><a href="#">Chính sách thanh toán</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">BookStore-Carat</li>
                        <li><a href="#">Dịch vụ của Carat</a></li>
                        <li><a href="#">Chương trình ưu đãi</a></li>
                        <li><a href="#">Thông tin đổi mới</a></li>
                        <li><a href="#">Cam kết chất lượng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Đăng ký nhận thông tin từ BookStore-Carat</h6>
                    <p>Nhận thông tin cập nhật qua E-mail về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                    <form asp-controller="Home" asp-action="JoinOur" method="post">
                        <input type="text" name="email" placeholder="Email của bạn">                        
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }

                    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
                    {
                        <div class="alert alert-success">@TempData["Message"]</div>
                    }
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</footer>
<!-- Footer Section End -->